@media (max-height: 1020px) {
    .hide-on-max-h {
      display:hidden;
    }
  }


.card {
    border-radius: 30px;
    box-shadow: 0 0 0 3px #2f2e41, 0 6px 0 #2f2e41;
    transition: none;
    /*removedefaulttransition*/animation: radiusOut 1s forwards;
    -webkit-animation: radiusOut 0.6s forwards;
}

  .card:hover {
    animation: borderRadiusSequence 1s forwards;
    -webkit-animation: borderRadiusSequence 1s forwards;

}


  @keyframes borderRadiusSequence {
    0% {
      border-radius: 30px 30px 30px 30px;
      box-shadow: 0 0 0 3px #2f2e41, 0 6px 0 #2f2e41;
    }
    25% {
      border-radius: 1em 30px 30px 30px;
    }
    50% {
      border-radius: 1em 1em 30px 30px;
    }
    75% {
      border-radius: 1em 1em 1em 30px;
    }
    100% {
      border-radius: 1em;
      box-shadow: 0 0 10px 4px rgba(0, 0,0);
    }
  }

  @keyframes radiusOut {
    0% {
      border-radius: 1em;
      box-shadow: 0 0 10px 4px rgba(0, 0,0);
    }
    25% {
      border-radius: 1em 1em 1em 30px;
    }
    50% {
      border-radius: 1em 1em 30px 30px;
    }
    75% {
      border-radius: 1em 30px 30px 30px;
    }
    100% {
      border-radius: 30px;
      box-shadow: 0 0 0 3px #2f2e41, 0 6px 0 #2f2e41;

    }
  }


  .tag {
    display: inline-block;
    background-color: #d0e0e0;
    border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #4a5568;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease-in-out;
  }

  .tag:hover {
    transform: scale(1.05);
  }
